.right-menu li {
    display: inline-block;
    margin-top: 30px !important;
    font-size: 18px;
    margin-right: 8px;
    cursor: pointer;
}

/* deviated from the tutorial here. not using the same selectors b/c honestly they're not working and I think they're deprecated */

/* .right-menu li .fa {
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
} */

.navbar-brand img{
    width: 160px;
}
.navbar-brand {
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    position: absolute;
    /* centers logo in the nav bar */
}
.header {
    background: #f5f6fc;
    margin-bottom: 80px;
}
.navbar {
    /* padding: 0 35px !important; */
}

.banner-img {
    margin: 80px 115px;
    width: 60%;
}
.banner-img img {
    width: 100%;
    margin-bottom: -80px;
}
.banner {
    position: relative;
}
.banner-title {
    position: absolute;
    left: 50%;
    top: 20%;
}
.banner-title h1 {
    font-size: 55px;
    background: rgba(0,0,0,.75);
    color: #fff;
    line-height: 70px;
    padding: 0px 10px 0 10px;
}