.right-menu li {
    display: inline-block;
    margin-top: 30px !important;
    font-size: 18px;
    margin-right: 8px;
    cursor: pointer;
}

/* deviated from the tutorial here. not using the same selectors b/c honestly they're not working and I think they're deprecated */

/* .right-menu li .fa {
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
} */

.navbar-brand img{
    width: 160px;
}
.navbar-brand {
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    position: absolute;
    /* centers logo in the nav bar */
}
.header {
    background: #f5f6fc;
    margin-bottom: 80px;
}
.navbar {
    /* padding: 0 35px !important; */
}

.banner-img {
    margin: 80px 115px;
    width: 60%;
}
.banner-img img {
    width: 100%;
    margin-bottom: -80px;
}
.banner {
    position: relative;
}
.banner-title {
    position: absolute;
    left: 50%;
    top: 20%;
}
.banner-title h1 {
    font-size: 55px;
    background: rgba(0,0,0,.75);
    color: #fff;
    line-height: 70px;
    padding: 0px 10px 0 10px;
}

/* ------fashion trends --------- */
.fashion-trends {
    padding: 100px 0;
}
.fashion-box {
    margin: 80px 0;
}
.title-style h1 {
    padding: 40px 0;
}
.title-style {
    margin: 0 auto 80px;
    height: 120px;
    width: 80%;
    max-width: 700px;
    background: #fff;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
}
.title-style::after {
    content: '';
    height: 100px;
    width: 200px;
    background-color: #f992a6;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.title-style::before {
    content: '';
    height: 100px;
    width: 200px;
    background-color: #f992a6;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}
.trending-img {
    position: relative;
    margin-bottom: 15px;
}
.trending-img img {
    width: 100%;
}
.btn-buy {
    width: 150px;
    padding: 10px 0;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    position: absolute;
    background: #fff;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    transition: 0.6s;
    opacity: 0;
    /* ok tranform, transition and opacity in this rule and the following one all work together to achieve the button float/appearance animation. Amaze. Good to know you start with building the button, positioning it, then the transition, and THEN you hide it via opacity */
    z-index: 1; 
}
.trending-img:hover .btn-buy {
    transform: translate(-50%, 50%);
    bottom: 50%;
    opacity: 1;
}
.overlay {
    height: 0%;
    width: 100%;
    background: #333;
    position: absolute;
    top: 0;
    opacity: .5;
    transition: .5s;
}
.trending-img:hover .overlay {
    opacity: .5;
    height: 100%;
}
/* VERY cool that the above two overlay rules achieve a slide-on effect upon hover, in tandem w/ the button  */

/* ---Offer ---- */

.offer {
    background-image: url(images/fashion.jpg);
    background-size: cover;
    background-position: center;
}
.row {
    margin: initial !important;
}
.subscribe {
    max-width: 500px;
    margin-top: 80px;
    padding: 60px;
    background: #ffffff8c;
    margin-bottom: 20px;
}
/* the above rule styles the Funshion Exclusive text box */
.subscribe a {
    width: 125px;
    display: block;
    color: #fff !important;
    background: #000;
    text-decoration: none !important;
    padding: 5px;
    text-align: center;
}