.right-menu li {
    display: inline-block;
    margin-top: 30px !important;
    font-size: 18px;
    margin-right: 8px;
    cursor: pointer;
}

/* deviated from the tutorial here. not using the same selectors b/c honestly they're not working and I think they're deprecated */

/* .right-menu li .fa {
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
} */